*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
 color: #fff;
 background-size: cover;
}

.submit-button{
 text-align: center !important;
 /* margin: 0 auto; */
 position: relative;
 left: 40px;

}

.background{
 background-image: url(/assets/back.png);
 opacity: 0.9;
 background-color: #9900cc;
 margin: 0 auto;
 /* max-width: 900px; */
}

.book-award, .mtu-cms{
 margin: 0 auto;
 max-width: 400px !important;
 width: 250px !important;
}

.card-header{
 background: none !important;
}